*,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: #dddddd;
    font-family: Spectral;
}

.stars-image {
    width: 100%;
}

.stars-image img {
    width: 100%;
}

.poem-container {
    padding: 1.5rem;
}

.poem-container h1 {
    font-size: 1.75rem;
    text-align: center;
}

.poem {
    font-size: 1.25rem;
    text-align: center;
}

.spotify-image {
    width: 100%;
    padding: 2rem;
}

.spotify-image img {
    width: 100%;
}
